#barra{
	width: 100%;
	height:60px;
	background-color: #424242 ;
	z-index: 1300 !important;
}

body, html {
height: 100%;
margin: 0;
overflow:hidden;
font-family: helvetica;
font-weight: 100;
}
.container {
position: relative;
height: 100%;
width: 100%;
left: 0;
-webkit-transition: left 0.4s ease-in-out;
-moz-transition: left 0.4s ease-in-out;
-ms-transition: left 0.4s ease-in-out;
-o-transition: left 0.4s ease-in-out;
transition: left 0.4s ease-in-out;
background: url(../images/fondopantalla.png);
}
.container.open-sidebar {
left: 240px;
}
 
#sidebar {
position: absolute;
left: -240px;
background: #424242 ;
width: 240px;
height: 100%;
box-sizing: border-box;
z-index: 100;
margin-top: -60px;

}
#sidebar ul {
margin: 0;
padding: 0;
list-style: none;
margin-top: 45px;
}
#sidebar ul li {
margin: 0;
}
#sidebar ul li a {
padding: 15px 20px;
font-size: 16px;
font-weight: 100;
color: white;
text-decoration: none;
display: block;
border-bottom: 1px solid #fff;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
-ms-transition: background 0.3s ease-in-out;
-o-transition: background 0.3s ease-in-out;
transition: background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
background: #52c0db;
}
.main-content {
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
-moz-box-sizing: border-box;
position: absolute;
z-index: 9;
margin-top: -55px;
}
.main-content .content{
box-sizing: border-box;
-moz-box-sizing: border-box;
padding-left: 60px;
width: 100%;
}
.main-content .content h1{
font-weight: 100;
}
.main-content .content p{
width: 100%;
line-height: 160%;
}
.main-content #sidebar-toggle {

border-radius: 3px;
display: block;
position: relative;
padding: 10px 7px;
float: left;
}
.main-content #sidebar-toggle .bar{
display: block;
width: 30px;
margin-bottom: 3px;
height: 5px;
background-color: #fff;
border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child{
margin-bottom: 0;
}
#fondopantalla{
	width: 100%;
	height:600px;
	background: url(../images/fondopantalla.png)no repeat;
}
#off{
	width: 35px;
	height: 35px;
	background: url(../images/off.png);
	float: right;
	margin-top: -620px;

}
#menu{
	color: #fff;
	margin-top: 10px;
}