<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		
		<title>security</title>
		<meta charset="utf-8" />
		<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/login.js"></script>

	
		
	</head>
	<body>
<div="contenedor">
		<!-- Header -->
			<header id="header" class="alt">
				<h2><div id="ingresar" onclick="ingresar();">Ingresar</div></h2>
				<div class="inner">
					<h1>Security</h1>
					
				</div>
			</header>
			 
		<div id="fondo">
			<div id="login">
				<div id="cerrar"onclick="cerrar();"></div>
			
		    	<div class="row">
		     <form action="../Controller/login.controller.php" method="post">
			      <label for="icon_prefix">Documento</label>
			      <input id="icon_prefix" type="text" name="documento" class="validate" required >
			        
			      <label for="icon_telephone">Contraseña</label>
			      <input id="icon_telephone" type="password" name="contrasena" class="validate" required >
			      <button id="button"   name="action" value="consultar">Ingresar</button>
		   </form>
		    	</div>
   			</div>
   		</div>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						
						<p>Este software está diseñado para el beneficio del SENA en la cual es una necesidad</br> que tiene el centro esta ayuda agilizar la entrada y salida del centro y para mayor seguridad</br> en la portería con los objetos tecnológicos.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Inicio</a></li>
						</ul>
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="images/pic01.jpg" alt="" /></a>
								<h3>Nuestro objetivo</h3>
							</header>
							<p>Desarrollar un sistema de información acoplado para portería, el cual brinde seguridad digital.

							Sobre el control que hoy se lleva en papel a lo que entra, sale y se mueve dentro del SENA Calatrava.</p>
							<ul class="actions">
								<li><a href="#" class="button">Inicio</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="images/pic02.jpg" alt="" /></a>
								<h3>Regla de Negocio</h3>
							</header>
							<p>* La comodidad y la agilidad del ingreso y la salida de los usuarios.
							</br>
							* Registro de objetos que ingresan al centro.
							</br>
							* Manejar la seguridad de los elementos y de los usuarios que ingresan y salen del centro.</p>
							<ul class="actions">
								<li><a href="#" class="button">Inicio</a></li>
							</ul>
					
					</section>
				
				

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy;AndreaTabordaVillegas2016</p>
					</footer>

			</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			

	</body>
</html>